.toolbar-container {
    position: absolute;
    inset: 0;
    
    z-index: 30;
    pointer-events: none;
}

.toolbar {
    float: right;
    height: 30px;
    margin: 5px;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.05);

    box-shadow: 3px -3px 60px 5px rgba(0, 0, 0, 0.3);

    pointer-events: all;
}

.info-messages {
    position: absolute;
    
    height: inherit;
    min-height: inherit;
    max-height: inherit;

    width: 100%;
    bottom: 0;
    opacity: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
}

.info-messages p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

    opacity: 0;
}

.fade-in {
    animation: fade-in 0.6s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    animation-delay: 0.8s;
}

.fade-in p {
    animation: fade-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;    
    animation-delay: 1s;
}

button {
    width: 30px;
    height: 30px;

    border-radius: 7px;
    border: none;
  
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

button:active {
    transform: scale(0.9);
}

button:disabled {
    filter: grayscale(1);
}

#clear {
    background: url('../assets/svg/clear.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#mosaic {
    background: url('../assets/svg/mosaic.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#mosaic:not(:disabled) {
    animation: shake 2.5s cubic-bezier(.36,.07,.19,.97);
    animation-iteration-count: infinite;
}
/* 
#mosaic:hover {
    animation: shake 3s cubic-bezier(.36,.07,.19,.97);
} */

@keyframes shake {
    8% {transform: rotate(0deg);}
    16% {transform: rotate(-5deg) scale(1.11);}
    24% {transform: rotate(5deg);}
    32% {transform: rotate(-4deg);}
    40% {transform: rotate(5deg) scale(1);}
    48% {transform: rotate(0deg);} 
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes dots {
    0% {opacity: 1;}
    100% {opacity: 0;}
}