.overlay {
  position: fixed;
  inset: 0;

  z-index: 100;
  background: black;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.mosaic {
  position: relative;

  width: 30vw;
  height: 30vw;

  min-width: 340px;
  min-height: 340px;

  max-width: 500px;
  max-height: 500px;

  border-radius: 6px;
  overflow: hidden;

  user-select: none;
}

.mosaic img {
  position: absolute;
  z-index: 10;

  width: inherit;
  height: inherit;

  min-width: inherit;
  min-height: inherit;
  
  max-width: inherit;
  max-height: inherit;

  border-radius: inherit;
  object-fit: cover;
  object-position: top left;
}

.mosaic .image-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  border: 2px dashed rgba(255, 255, 255, 0.2);
  border-radius: inherit;

  overflow: hidden;
  z-index: 2;
}

.mosaic .image-overlay svg {
  margin: 20px;
}

.mosaic .image-overlay p {
  margin: 1px 0;

  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.mosaic .image-overlay p span{
  color: rgba(255, 255, 255, 0.3);
  text-decoration: underline;

  pointer-events: all;
  cursor: pointer;

  transition: color 0.2s ease-in;
}

.mosaic .image-overlay p span:hover {
  color: rgba(255, 255, 255, 0.8); 
}

.bits {
  display: grid;
  grid-gap: 0;

  position: absolute;
  z-index: 20;

  width: inherit;
  height: inherit;

  min-width: inherit;
  min-height: inherit;
  
  max-width: inherit;
  max-height: inherit;

  border-radius: inherit;
  pointer-events: none;
}

canvas {
  touch-action: none; 
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hidden {
  opacity: 0;
}
